//pseudo element line-height shouldn't be set in relative units
$select-icon-width:10px;
$select-icon-height:10px;

.form-group {
  label {
    display: block;
    margin-bottom: rem(4);
  }
  margin-bottom:rem(24);

  .validation-message {
    font-size:rem(12);
    color:color(1);
    margin-bottom: rem(8);
  }

  .label-description {
    font-size:rem(12);
    color:color(5);
  }  

  &.is-invalid {
    input[type="text"],
    select {
      border-color:color(1) !important;
    }
  }

  .controls-select {
    position:relative;
    &:after {
      //centering
      position:absolute;
      right:rem(12);
      top:0;
      bottom:0;
      margin:auto;
      height:$select-icon-height;      
      
      @include icon;
      content:'select';
      font-size:$select-icon-width;
      color:color(1);
    }
  }

  &.is-disabled {
    .controls-select {
      &:after {
        color:color(5);
      }
    }
  }
}