//pseudo element line-height shouldn't be set in relative units
$select-icon-size:14px;
$calendar-icon-size:14px;

@mixin controls-icon {
  //centering
  position:absolute;
  right:rem(12);
  top:0;
  bottom:0;
  margin:auto;    
  
  @include icon;
  color:color(1);    
}

.form-group {
  label,
  .label {
    display: block;
    margin-bottom: rem(4);
  }
  margin-bottom:rem(24);

  .validation-message {
    font-size:rem(12);
    color:color(1);
    margin-bottom: rem(8);
  }

  .label-description {
    font-size:rem(12);
    color:color(5);
  }  

  &.is-invalid {
    input[type="text"],
    select {
      border-color:color(1) !important;
    }
  }

  .controls-select {
    position: relative;
    &:after {
      @include controls-icon;
      height:$select-icon-size;      
      content:'select';
      font-size:$select-icon-size;
    }
  }

  .controls-datepicker {
    position:relative;
    &:after {
      @include controls-icon;
      height:$calendar-icon-size;      
      content:'calendar';
      font-size:$calendar-icon-size;
    }
  }

  &.is-disabled {
    .controls-select,
    .controls-datepicker{
      &:after {
        color:color(5);
      }
    }
  }
}