.header {
  padding-top:rem(24);
  padding-bottom:rem(24);
  background:color(4);

  .logo {
    display: inline-block;
    width:rem(233);
    height:rem(60);
    //path is relative to file where is included this sass
    background-image: url("../content/logo.svg");
  }
}